<!-- Start deneb_project section -->
<section class="deneb_project project_v1">
	<div class="shape_v3">
		<img src="{{ "/assets/images/shape/shape_10.png" | absolute_url }}" class="shape_10" alt="">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section_title text-center">
					<h2>Arbeidspakker</h2>
					<p>Norsk digital havneinfrastruktur er bygd opp gjennom forskjellige arbeidspakker. For å lese hva som har blitt gjort, klikk på titlene nedenfor.</p>
				</div>
			</div>
		</div>
<!--		<div class="row">
			<div class="col-lg-12">
				<div class="project_button text-center">
					<button class="project_btn active_btn" data-filter="*">all</button>
					<button class="project_btn" data-filter=".cat1">Web Design</button>
					<button class="project_btn" data-filter=".cat2">Web Development</button>
					<button class="project_btn" data-filter=".cat3">Branding</button>
					<button class="project_btn" data-filter=".cat4">SEO</button>
					<button class="project_btn" data-filter=".cat5">Mobile App</button>
				</div>
			</div>
		</div> -->
		<div class="projects_slider_content">
			<div class="single_project">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/arbeidspakker/images/ap_1.jpg" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="/om-prosjektet/ap-1/">Arbeidspakke 1</a></h4>
						<p>Dette ble gjort...</p>
					</div>
				</div>
			</div>
			<div class="single_project">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/arbeidspakker/images/ap_2.jpg" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="/om-prosjektet/ap-2/">Arbeidspakke 2</a></h4>
						<p>Dette ble gjort...</p>
					</div>
				</div>
			</div>
			<div class="single_project">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/arbeidspakker/images/ap_3.jpg" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="/om-prosjektet/ap-3/">Arbeidspakke 3</a></h4>
						<p>Dette ble gjort...</p>
					</div>
				</div>
			</div>
			<div class="single_project">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/arbeidspakker/images/ap_4.jpg" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="/om-prosjektet/ap-4/">Arbeidspakke 4</a></h4>
						<p>Dette ble gjort...</p>
					</div>
				</div>
			</div>
			<div class="single_project">
				<div class="grid_item">
					<div class="deneb_img">
						<img src="{{ "/assets/images/arbeidspakker/images/ap_5.jpg" | absolute_url }}" class="img-fluid" alt="">
					</div>
					<div class="deneb_info">
						<h4><a href="/om-prosjektet/ap-5/">Arbeidspakke 5</a></h4>
						<p>Dette ble gjort...</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End deneb_project section -->